*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 12px;  
}









#containerIndex {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


#containerIndex h1{
  font-size: 70px;
  letter-spacing: 2px;
  position: fixed;
  top: 7vh;
}

#containerIndex a {
  font-size: 45px;
  letter-spacing: 2px;
  color: #000;
}

#containerIndex a:hover {
  color: #009;
}









#containerPage1{
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding: 50px;
}


#containerPage1 h1{
  font-size: 70px;
  letter-spacing: 2px;
  position: fixed;
  top: 7vh;
}

#containerProfilesButtons{
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


button{
  width: 200px;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px;
}





#containerPage2{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}




#containerinputs{
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
  align-items: center;
}


input{
  font-size: 15px;
  min-width: 200px;
  max-width: 400px;
  height: 40px;
  padding: 10px;
}



#containerResults{
  display: flex;
  flex-direction: column;

  justify-content: center;
}

#containertemplate{
  font-size: 15px;
}

#containerExcelElements h2 {
  font-size: 20px;
}


#containerExcelElements div {
  font-size: 15px;
}

















#containerPage2{
  display: none;
}



#containerResults {
  white-space: pre-line;
}

#alertCopy,
#inputProfile,
#inputPin,
#inputMonths,
#inputCheckboxPin,
#labelCheckboxPin,
#inputCheckboxDate,
#labelCheckboxDate,
#inputDate,
#titlePinToCopy,
#pinToCopy,
#titleProfileToCopy,
#profileToCopy,
#titleCellInTemplate,
#cellInTemplate,
#titleNote,
#note,
#titleCalendar,
#calendar
{
  display: none;
}



.elementToCopy:hover{
  cursor: pointer;
}


.buttonInactive {
  background: red;
}




#alertCopy{
  position: fixed;
  top: 2vh;
  left: 2vw;
  font-size: 20px;
}


#arrowBack{
  position: fixed;
  bottom: 2vh;
  left: 2vw;
  font-size: 70px;
}



#arrowBack:hover{
  cursor: pointer;
}

